<div class="superContainer">
  <div class="childContainer photoContainer">
       <h3>Upload Photo here</h3>
       <input type="file" (change) = "onUpload($event)" accept="image/jpeg, image/png, image/jpg, image/webp" [(ngModel)]="filePath">
       <div class="imageDisplay">
        <img src="{{ filePath }}" alt="">
       </div>
  </div>
  <div class="childContainer pdfContainer">
    <h3>Upload PDF here</h3>
    <input type="file">
  </div>
  <div class="childContainer videoContainer">
    <h3>Upload video here</h3>
    <input type="file" (change) = "onUpload($event)" accept="video/mp4,video/x-m4v,video/*">
    <video src="{{ filePath }}" width="320" height="240" controls></video>
  </div>
</div> 